/*
#4B8996 - groen
#012836 - donkerblauw
#ffffff - wit
*/

/*algemeen*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, "PT sans";
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

button {
    background-color: #4b8996;
    color: white;
    letter-spacing: 10px;
    padding: 10px 50px 10px 60px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}

button:hover {
    background-color: transparent;
    color: #012836;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    color: #012836;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    color: #012836;
}

h3 {
    font-weight: bold;
    font-size: 38px;
    color: #012836;
}

p, a {
    font-weight: normal;
    font-size: 24px;
    color: #012836;
}

a:hover {
    color: #4B8996;
}

/*navigatie niet leden*/
nav {
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #012836;
    padding: 0 40px;
}

nav .menu-items {
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .menu-items a {
    color: white;
}

nav .menu-items a:hover {
    color: #4b8996;
}

nav .menu-items button {
    background-color: #fff;
    color: #012836;
}

nav .menu-items button:hover {
    background-color: transparent;
    color: #fff;
}

/*footer*/
footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .gegevensfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

footer .gegevensfooter div {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

footer .gegevensfooter .border {
    border-right: 1px solid #012836;
}

footer .gegevensfooter div p, footer .gegevensfooter div a {
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
}

footer .gegevensfooter div .gegevensmeticonen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100px;
}

footer .gegevensfooter div .gegevensmeticonen img {
    width: 10%;
}

footer .gegevensfooter div .gegevensmeticonen p {
    width: 70%;
}

footer .gegevensfooter div .socialsfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

footer .gegevensfooter div .socialsfooter a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15%;
}

footer .balkfooter {
    background-color: #012836;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .balkfooter a {
    color: white;
}

footer .balkfooter a:hover {
    color: #4B8996;
}

/*header home*/
#home header h1 {
    height: 1000px;
    color: white;
    font-size: 64px;
    width: 100%;
    text-align: right;
    padding: 800px 150px 200px 0;
}

#home video {
    position: fixed;
    z-index: -1;
}

/*main home*/
#home main {
    background-color: white;
    padding: 100px 150px;
}

/*sectie1*/
#welkomhome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 0;
}

/*sectie1 tekst*/
#welkomhome .tekst {
    width: 75%;
    padding-right: 100px;
}

#welkomhome .tekst h2 {
    padding: 50px 0;
}

#welkomhome .tekst p {
    padding-bottom: 50px;
    width: 75%;
}

#welkomhome .tekst a {
    width: 100%;
    display: flex;
    justify-content: right;
}

/*sectie1 img*/
#welkomhome .fotos {
    position: relative;
    left: 250px;
}

#welkomhome .fotos .foto-top {
    max-width: 328px;
    max-height: 268px;
}

#welkomhome .fotos .foto-mid {
    max-width: 479px;
    max-height: 257px;
}

#welkomhome .fotos .foto-bot {
    max-width: 199px;
    max-height: 376px;
    position: relative;
    right: 250px;
    bottom: 150px;
}

/*sectie2 + sectie3*/
#aanbodhome, .dank {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#aanbodhome h2, .dank h2 {
    width: 100%;
}

#aanbodhome div, .dank div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 50px 0 100px 0;
}

#aanbodhome div a, .dank div a {
    width: 30%;
    display: flex;
    justify-content: center;
}

.dank div a img {
    max-width: 100%;
    height: 300px;
}

#aanbodhome div a button {
    width: 100%;
    height: 500px;
}

#aanbodhome div a button:hover {
    background-image: url("../assets/Mask group.png");
    background-size: cover;
    color: white;
}

/*main over ons*/
#over_ons main {
    width: 100%;
    padding: 100px 150px;
}

/*sectie1*/
#over_ons main #over_overons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#over_ons main #over_overons div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#over_ons main #over_overons #titelenfoto {
    align-items: flex-end;
}

#over_ons main #over_overons #tekstenfoto {
    align-items: flex-start;
}

#over_ons main #over_overons #tekstenfoto p {
    padding-top: 40px;
    width: 80%;
}

#over_ons main #over_overons #tekstenfoto img {
    position: relative;
    right: 40px;
    bottom: 50px;
}

/*sectie2*/
#over_ons main #bestuur {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
}

#over_ons main #bestuur h2 {
    width: 100%;
}

#over_ons main #bestuur #personen {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 40px 0;
}

#over_ons main #bestuur #personen .personenrij {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#over_ons main #bestuur #personen .personenrij .persoon {
    width: 33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#over_ons main #bestuur #personen .personenrij .persoon div {
    width: 60%;
    background-color: white;
    border: 1px solid #4B8996;
    border-radius: 10px;
    padding: 10px 0;
    position: relative;
    bottom: 40px;
}

/*sectie3*/
#over_ons main #watdoenwij {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#over_ons main #watdoenwij h2 {
    width: 100%;
    padding-bottom: 40px;
}

#over_ons main #watdoenwij div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#over_ons main #watdoenwij div .tekstlinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 150px;
    width: 40%;
    text-align: right;
}

#over_ons main #watdoenwij div .tekstlinks a {
    width: 100%;
    align-content: flex-end;
}

#over_ons main #watdoenwij div .tekstlinks h3, #over_ons main #watdoenwij div #tekstrechts h3 {
    padding-bottom: 40px;
}

#over_ons main #watdoenwij div .tekstlinks p, #over_ons main #watdoenwij div #tekstrechts p {
    padding-bottom: 100px;
}

#over_ons main #watdoenwij div .fotos {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#over_ons main #watdoenwij div .fotos .foto-top {
    position: relative;
    right: 150px;
}

#over_ons main #watdoenwij div .fotos .foto-mid {
    position: relative;
    bottom: 75px;
}

#over_ons main #watdoenwij div .fotos .foto-bot {
    position: relative;
    bottom: 150px;
    right: 100px;
    width: 50%;
}

#over_ons main #watdoenwij div #tekstrechts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 150px;
    width: 40%;
}

#over_ons main #watdoenwij div #fotosleft {
    display: flex;
    flex-direction: column;
    width: 35%;
}

#over_ons main #watdoenwij div #fotosleft .fotoleft-top {
    width: 50%;
}

#over_ons main #watdoenwij div #fotosleft .fotoleft-mid {
    position: relative;
    bottom: 250px;
    left: 300px;
}

#over_ons main #watdoenwij div #fotosleft .fotoleft-bot {
    position: relative;
    bottom: 275px;
}

#over_ons #kaartoverons h2 {
    padding: 50px 150px;
}

/*main duikplaatsen*/
#duikplaatsen main {
    width: 100%;
    padding: 100px 150px;
}

#duikplaatsen main #duikplaatsenheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#duikplaatsen main #duikplaatsenheader .fotos {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#duikplaatsen main #duikplaatsenheader .fotos .foto-top {
    width: 50%;
    position: relative;
    left: 22rem;
}

#duikplaatsen main #duikplaatsenheader .fotos .foto-bot {
    position: relative;
    bottom: 12rem;
    right: 5rem;
}

#duikplaatsen main #duikplaatsenheader .tekst {
    width: 50%;
}

#duikplaatsen main #duikplaatsenheader .tekst h1 {
    padding-bottom: 100px;
}

#duikplaatsen main #duikplaatsenheader .tekst p {
    width: 75%;
}

#duikplaatsen main .duikplaatsencarousel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

#duikplaatsen main .duikplaatsencarousel p {
    width: 75%;
}

/*sliders*/
.slider {
    background: white;
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 50px auto;
    border-left: 2px solid #4B8996;
    border-right: 2px solid #4B8996;
}

.slider::before, .slider::after {
     content: "";
     height: 500px;
     position: absolute;
     width: 500px;
     z-index: 2;
}

.slider::after {
     right: 0;
     top: 0;
     transform: rotateZ(180deg);
 }

.slider::before {
     left: 0;
     top: 0;
 }

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(500px * 14);
}

.slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    overflow: hidden;
}


@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-500px * 7))}
}